body{
  font-family: Roboto;
  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

li{
  background: #fff;
  line-height: 40px;
  color: #666;
}

li:nth-child(2n){
  background: #f7f7f7;
}

li span{
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  opacity: 0;
}

li:hover span{
  width: 40px;
  opacity: 1.0;
}

.fa-edit{
  float: right;
}

.completedTask{
  text-decoration: line-through;
  color: gray;
}

#todoListTitle{
  background: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

#theList{
  list-style: none;
  margin: 0;
  padding: 0;
}

#userTaskInput{
  font-size: 18px;
  color: #2980b9;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  border: 3px, solid, rgba(0,0,0,0);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

#userTaskInput:focus{
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}


#container{
  box-shadow: 0, 0, 3px, rgba(0, 0, 0, 0.1);
  width: 360px;
  background: #f7f7f7;
  margin: 100px auto;
}
